[tool.poetry]
name = "lyrics-transcriber"
version = "0.7.0"
description = "Automatically create synchronised lyrics files in ASS and MidiCo LRC formats with word-level timestamps, using Whisper and lyrics from Genius and Spotify"
authors = ["Andrew Beveridge <andrew@beveridge.uk>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "lyrics_transcriber" }]
homepage = "https://github.com/karaokenerds/python-lyrics-transcriber"
repository = "https://github.com/karaokenerds/python-lyrics-transcriber"
documentation = "https://github.com/karaokenerds/python-lyrics-transcriber/blob/main/README.md"


[tool.poetry.dependencies]
python = ">=3.9"
Cython = "^0"
dtw-python = "^1"
llvmlite = "^0"
numba = "^0.57"
numpy = "^1"
onnx = "^1"
onnxruntime = "^1"
torch = ">1"
tqdm = "^4"
lyricsgenius = "^3"
python-slugify = "^8"
syrics = "^0"
openai-whisper = "20230918"
whisper-timestamped = "^1"
# Note: after adding openai-whisper and whisper-timestamped with poetry lock, I then removed all traces of triton
# from poetry.lock before running poetry install, as triton doesn't support macOS but isn't actually needed for whisper.
# This was the only way I was able to get a working cross-platform build published to PyPI.
# To update the lockfile and install/upgrade dependencies, modify the dependency list above then run:
# poetry lock; patch -p0 poetry.lock <.github/removetriton.patch; poetry install

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"

[tool.black]
line-length = 140

[tool.poetry.scripts]
lyrics-transcriber = 'lyrics_transcriber.utils.cli:main'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
